#movies img, #movie img{
    width:100%;
}

#movies .col-md-4 .well{
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.82);
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 0px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    /* justify-content: center; */
}

#movies h5{
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

#movie h2, #movie li{
    color: white;
}

#movie li{
    background-color: #343a40;
}

#movie .movieInfo{
    background-color: rgba(0, 0, 0, 0.82);
    border-radius: 15px;
    padding: 25px;
}

ul.hr ,li{
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
